.Menu {
}

.Menu-title {
  color: #999;
  margin: -10px 0 10px;
  font-size: 1.4em;
  font-weight: 400;
}

.Menu-list {
  list-style: none;
  margin: 0 -20px;
  padding: 0;

  ul {
    margin: 0 0 0 14px;
  }
}

.Menu-item {
  a {
    display: block;
    padding: 8px 8px 8px 21px;
    text-decoration: none;

    &:hover {
      background-color: color(#fff a(.03));
    }

    &:active {
      background-color: color(#0072c6 a(.5));
    }
  }

  svg {
    margin-left: -18px;
    float: left;
    size: 17px;
  }
}
