.Main {
  padding: 63px 20px 20px;
  background: #ddd;
  flex: 1;
  position: relative;

  > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 20px;
    background-color: #ccc;
    overflow: hidden;

    > menu {
      float: right;
    }
  }
}
