.Main {
  padding: 68px 20px 20px;
  background: #ddd;
  flex: 1;
  position: relative;

  > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 20px 0;
    background-color: #43b1b0;
    overflow: hidden;
  }
}
