.Edit {
  input[type=text],
  textarea {
    font-size: 1.1em;
    padding: 8px;
    border: 1px solid #999;
    display: block;
    outline: 0;
    width: 100%;

    &:focus {
      border-color: color(#000 a(.8));
      box-shadow: 0 0 0 2px #ffca55;
      background-color: #fff;
    }
  }

  textarea {
    min-height: 300px;
  }
}

.Edit-fieldset {
  border: 1px solid color(#000 a(.2));
  border-radius: 3px;
  padding: 10px;
  margin: 20px -10px 0;

  &:first-of-type {
    margin-top: 20px;
  }

  legend {
    padding: 0 5px;
    margin: 0 -5px;
    color: color(#43b1b0 shade(30%));
    font-size: 1.3em;
  }
}

.Edit-group {
  + .Edit-group {
    margin-top: 10px;
  }

  label {
    display: table;
    font-weight: 600;
    margin: 0 0 8px;
  }
}
