.PageToolbar {
  float: left;
  margin: 0;
  padding: 0;

  > button {
    border: 0;
    border-top: 3px solid transparent;
    background-color: color(#111 a(.25));
    text-transform: uppercase;
    padding: 7px 20px 10px;
    line-height: 24px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 600;
    margin-right: 8px;
    outline: 0;
    transition: 200ms;

    &:hover {
      border-color: color(#111 a(.5));
    }

    &:focus {

    }

    &:active,
    &.is-selected {
      color: #111;
      border-color: #111;
      background-color: #ddd;
    }
  }
}
