.Navbar {
  margin: 0;
  font-size: 1.2em;
  float: left;
}

.Navbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Navbar-item {
  float: left;

  a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 8px 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
