.PageSizeSelector {
  margin: 0;
  padding: 0;

  button {
    border: 0;
    color: #444;
    margin-left: -1px;
    padding: 3px 6px;
    background: none;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      color: #111;
    }

    &:active,
    &.is-active {
      color: #0072c6;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
