.PageSizeSelector {
  margin: 0;
  padding: 0;
  float: right;
  border: 1px solid color(#111 a(.5));

  button {
    border: 0;
    color: #444;
    padding: 3px 6px;
    background: none;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: color(#fff a(.3));
    }

    &:active,
    &.is-active {
      background-color: color(#111 a(.5));
      color: #fff;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
